/*font {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
}*/

/* body_bakcground-color */

body {
    background-color: #eee6df;
    margin: 0;
}

/* index.html */
/* navigator */

.frame {
    margin: 30px 150px;
    display: flex;
    flex-direction: column;
}

.navigator{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    
}



li{
    display: inline-block;
    
    margin: 0;
    margin-left: 15px;
}

ul{
    margin: 0;
}

.bear{
    width: 60px;
    height: 60px;
}

.nav-menu{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: white;
    transition: 0.3s;
}

/* dashboard */

.dashboard{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 10px;
}

.intro{
    font-family: 'Noto Sans KR', sans-serif;
    color: #625b56;
    font-size: 37px;
    font-weight: 600;
}

.intro-eng{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-style: italic;
    margin-bottom: 100px;
}

.sample{
    background-color: pink;
}

.sample:hover{
    background-color: transparent;
    transition: none;
    -webkit-text-fill-color: white; 
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.highlight1{
    -webkit-text-fill-color: white; 
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
.highlight1:hover{
    -webkit-text-fill-color: black;
    -webkit-text-stroke-width: 0;
    transition: none;
    background-color: rgb(255, 255, 5);
}

.highlight2{
    -webkit-text-fill-color: white; 
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.highlight2:hover{
    -webkit-text-fill-color: black;
    -webkit-text-stroke-width: 0;
    transition: none;
    background-color: rgb(50, 184, 144);
}

/* FAV */

h5{
    font-family: 'Montserrat', sans-serif;
    color:black;
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    margin-top: 100px;
}

.fav-section img {
    width: 30%;
    margin: calc(10%/6);
    box-shadow: 5px 5px 5px grey;
}

.fav-section img:hover {
    width: 28%
}

.fav-section{
    margin-bottom: 150px;
}

/* Info.html */

/* profile-section */

.info{
    font-weight: normal;
    text-decoration: none;
}

.profile-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin: 100px 80px;
}

.profile-photo {
    border-radius: 50%;
    width: 32%;
    height: 32%;
    margin: 0;
    margin-right: 60px;
    align-self: center;
}

.introduction>h2{
    margin-top: 0;
    margin-bottom: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #625b56;
    font-weight: 500;
}

.introduction>p{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    font-size: 15px;
    margin-bottom: 40px;

}

.keywords {
    display: flex;
    flex-direction: row;
    padding-left: 0px;
    margin: 0;
}

.keywords>li{
    margin: 0;
    margin-right: 3px;
    background-color: #625b56;
    border-radius: 25px;
    padding: 3px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
}

li:hover{
    color: white;
    transition: 0.3s;
}

/* who */

.who-menu{
    margin-bottom: 100px;
}

.who-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 150px;
}

.polaroid{
    background:whitesmoke;
    padding: 1rem;
    box-shadow: 0 0.25rem 1rem rgba(0,0,0,0.2);
}

.pola-cap {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
}

.who-section .polaroid:nth-child(odd) {
    transform: rotate(-5deg);
}

.who-section .polaroid:nth-of-type(2n) {
    transform: rotate(5deg);
}

.who-section .polaroid:hover {
    transform: rotate(0deg);
    transition: 0.5s;
}

.pola-pic{
    width: 200px;
    height: 280px;
}

/* footer */

footer {
    background-color:  RGBA(98,91,86,0.5);

    margin: 0;

}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;

}

.contact{
    color:  white;
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;

}

.links{
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap; 
}
.links a{
    padding: 6px;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.links img {
    width: 30px;
    
}

.links a:hover {
    backface-visibility: hidden;
   background-color: whitesmoke
}

.email {
    font-family:'Montserrat', sans-serif; ;
}
